@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <h1> Inside Index in Student controller</h1>
    <a href="/student/index3/1">Test</a>
    @ViewData["Title"]<br>
    @ViewData["Message"]<br />
</body>
