@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var student = ViewBag.Student;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Header</h1>
    <div>
        StudentId : @student?.id
    </div>
    <div>
        Name : @student?.name
    </div>
    <div>
        Address : @student?.address
    </div>
    <div>
        Faculty : @student?.faculty
    </div>
   
</body>
</html>
